* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: $font_type;
}


h1 {
    font-size: 2.5rem;
    color: $h1_light;
    font-style: italic;
    font-weight: 900;
    line-height: 2.5rem;
    letter-spacing: -0.8px;
    text-transform: uppercase;
}

h2 {
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: -0.4px;
    line-height: 5rem;
    text-transform: uppercase;
    color: $h2_color;
}

h3 {
    font-size: 1.25rem;
    font-weight: 900;
    font-style: italic;
    line-height: 1.25px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: $h3_color;

}

h4, 
h5, 
h6 {
    font-weight: 700;
    font-style: italic;
    font-size: 1.125rem;
    line-height: 1.125px;
    letter-spacing: -0.4px;
}

a {
    font-size: 1.125rem;
    font-style: italic;
    color: $a_light;
    text-transform: capitalize;
    font-weight: 400;
}

p {
    font-size: 1.125rem;
    line-height: 1.625rem;
    letter-spacing: -0.4px;
    color: $text_light;
    font-weight: 400;
}

.split_text {
    display: block;
}

.italic {
    font-style: italic;
}

.faded_text {
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: -0.8px;
}

.short_text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875;
    letter-spacing: -0.8px;
}

.quote_text {
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: -0.8px;
    font-style: italic;
}

.quote {
    color: $text_light;
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    position: absolute;
}

.quote_end {
    transform: rotate(180deg);
}

input {
    background-color: $input_bg;
    border: 3px solid $input_border_dark;
    border-radius: 16px;
    padding: 10px;
    border-radius: 16px;
}

.btn_primary {
    @include buttonReset(
        $btn_primary_default,
    default,
    default,
    default,
    default,
    $btn_text);
    
    &:hover {
        background-color: $btn_primary_hover;
    }

    &:active {
        background-color: $btn_primary_clicked;
    }
}

.btn_secondary {
    @include buttonReset(
        $btn_secondary_default,
    default,
    default,
    default,
    default,
    $btn_text);
    
    &:hover {
        background-color: $btn_secondary_hover;
    }

    &:active {
        background-color: $btn_secondary_clicked;
    }
}
























.footer_bg {
    position: relative;
    background-color: $background_green;
    img {
        opacity: 10%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

